.header {
    background-color: #14213d;
    padding: 15px;
    color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #1e325c;
    border-width: 1px;
}
  
.header-name {
    color: aqua;
    font-size: 200%;
    font-family: "OCR A Std", monospace;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 2%;
}

.header-name:hover {
    text-decoration: underline;
}
  
.social-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    padding-right: 2%;
}
  
.social-icon {
    color: #fca311;
    font-size: 24px;
    transition: color 0.3s;
    width: 1.5rem;
    height: 1.5rem;
}
  
.social-icon:hover {
    border-width: 2px;
    border-color: #3d63b3;
    padding: 2px;
    border-radius: 35%;
    box-shadow: 0px 2px 15px #1e325c;
    width: 2.5rem;
    height: 2.5rem;
}