.page-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #14213d;
    padding: 15px 20px;
    border-radius: 5px;
    margin: 10px;
    height: auto;
    flex-grow: 0;
}

.about-picture {
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
    width: 350px;
    height: 350px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.brief-intro {
    align-self: center;
    color: white;
    flex-basis: 100%;
}

.brief-intro h2 {
    text-align: center;
    margin-top: 5px;
    color: #3d7eff;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.brief-intro p {
    font-size: medium;
    font-style: italic;
}