.homepage-container {
    display: flex;
    flex-direction: column;
}

.homepage-greeting {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    text-align: center;
    padding: 15px;
    border: 1px solid #005dc7;
    border-radius: 5px;
    background-color: #1c2d53;
}

.homepage-greeting h1 {
    color: aqua;
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.homepage-greeting p {
    color: #ffffff;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
}

.homepage-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    width: 100%;
    height: 80vh;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    min-width: 200px;
    min-height: 200px;
    padding: 16px;
    border: 1px solid #005dc7;
    border-radius: 8px;
    background-color: #14213d;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-family: Courier, monospace;
}

.card:hover {
    transform: scale(1.1);
    background-color: #1c2e56;
}

.card-icon {
    color: #FCA311;
    width: 3rem;
    height: 3rem;
}

.card-name {
    color: aqua;
    font-weight: bold;
    margin-top: 8px;
}

.card-description {
    font-size: 0.9rem;
    margin-top: 4px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
